body{
    background-color: lightblue;
}

section{
    position: absolute;
    background-color: rgb(149, 238, 183);
    width: 50%;
    height: 25%;
    display: none;
}

.dropdown{
    background-color: white;
    overflow: hidden;
    width: 0;
}

.dropdown:hover{
    width: 100%;
}